body {
    font-family: sans-serif;
}

input[type="range"] {
    width: 400px;
}

svg text {
    user-select: none;
}

i {
    font-size: large;
}

.mainpanel {
    width: 100%;

    display: flex;
}

.mainpanel .panels {
    width: 100%;
    display: inline;
}

.mainpanel .control_panels {
    width: 50%;
}

.step_preview {
    width: 100%;
    margin: 0 auto;
}

.step_preview div {
    display: flex;
    align-items: center;
    justify-content: center
}

.paint {
    height: calc(var(--width)/3);
    width: 100%;
    border: 1px solid #000;
}

.preview div {
    display: inline;
}

.preview {
    width: 100%;
    border: 1px solid #000;
}

.page {

    border: 1px solid #000;
}

.editpanel {
    width: 100%;
    border: 1px solid #000;
    display: block;
}

.editpanel span p {
    display: flex;
}

.editpanel span b {
    pointer-events: none;
}

.openclose {
    display: block;
    background-color: gray;
    border: 1px solid #000;
    user-select: none;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    user-select: none;
    visibility: visible;
}

.loading b {
    color: white;
    font-size: xx-large;
}

.loading i {
    font-size: xx-large;
}